<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NutriFitApp"
        tools:targetApi="31">
        <activity
            android:name=".ui.options.MyRecipesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.nutrition.NutritionRecipesListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.nutrition.NutritionRecipeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.options.OptionsFriendsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.social.SocialUserDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.options.OptionsProgressFitnessActivity"
            android:exported="false" />
        <activity
            android:name=".ui.options.OptionsProgressNutritionActivity"
            android:exported="false" />
        <activity
            android:name=".ui.fitness.FitnessCompletedWorkoutActivity"
            android:exported="false" />
        <activity
            android:name=".ui.fitness.FitnessWorkoutExerciseActivity"
            android:exported="false" />
        <activity
            android:name=".ui.fitness.WorkoutActivity"
            android:exported="false" />
        <activity
            android:name=".ui.nutrition.NutritionStatisticsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.nutrition.SearchFoodActivity"
            android:exported="false" />
        <activity
            android:name=".ui.options.OptionsCalculateCaloriesMacro"
            android:exported="false" />
        <activity
            android:name=".ui.options.OptionsProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.MainActivity"
            android:exported="false"
            android:label="@string/title_activity_main" />
        <activity
            android:name=".Activities.SetupActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.LoggedInActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.LogInActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>